.f_main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-size: 13px;
}
.chaxun {
  border-left: 5px solid #2ecc71;
  margin: 15px 0;
  padding-left: 10px;
}
.douru button {
  background: #2ecc71;
  color: #ffffff;
}
/* .el-button--success {
  background: #2ecc71 !important;
  color: #ffffff !important;
} */
.f_div_hide{
  overflow: hidden;
  position: relative;
}
.main{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.f_div_auto{
  overflow-x: auto;
  overflow-y: none;
  width: 100%;
  height: 100%;
}